# Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

# Step 2. Import the first dataset cars1 and cars2.
# Step 3. Assign each to a to a variable called cars1 and cars2

In [4]:
#cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
#cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

#cars1.to_csv('../data/cars1.csv',index=False)
#cars2.to_csv('../data/cars2.csv',index=False)

# Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
mpg             198 non-null float64
cylinders       198 non-null int64
displacement    198 non-null int64
horsepower      198 non-null object
weight          198 non-null int64
acceleration    198 non-null float64
model           198 non-null int64
origin          198 non-null int64
car             198 non-null object
Unnamed: 9      0 non-null float64
Unnamed: 10     0 non-null float64
Unnamed: 11     0 non-null float64
Unnamed: 12     0 non-null float64
Unnamed: 13     0 non-null float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.7+ KB

In [18]:
cars1 = cars1.loc[:,'mpg':'car']
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

# Step 5. What is the number of observations in each dataset?

In [19]:
print(cars1.shape)

(198, 9)

In [20]:
print(cars2.shape)

(200, 9)

# Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [22]:
cars = cars1.append(cars2)
cars.shape

(398, 9)

# Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [23]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398 entries, 0 to 199
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null int64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model           398 non-null int64
origin          398 non-null int64
car             398 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 31.1+ KB

In [25]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners.shape

(398,)

# Step 8. Add the column owners to cars

In [26]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,48626
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,72252
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,60612
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,58894
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,65690